[package]
name = "primp"
version = "0.13.0"
edition = "2021"
description = "HTTP client that can impersonate web browsers, mimicking their headers and `TLS/JA3/JA4/HTTP2` fingerprints"
authors = ["deedy5"]


# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html
[lib]
name = "primp"
crate-type = ["cdylib"]

[dependencies]
pyo3 = { version = "0.23.4", features = ["extension-module", "abi3-py38", "indexmap", "anyhow"] }
anyhow = "1.0.95"
tracing = { version = "0.1.41", features = ["log-always"] }
pyo3-log = "0.12.1"
rquest = { version = "2.1.0", features = [
    "json",
    "cookies",
    "socks",
    "gzip",
    "brotli",
    "zstd",
    "deflate",
    "multipart",
    "stream",
] }
encoding_rs = { version = "0.8.35" }
foldhash = "0.1.4"
indexmap = { version = "2.7.1", features = ["serde"] }
tokio = { version = "1.43.0", features = ["full"] }
tokio-util = { version = "0.7.13", features = ["codec"] }  # for multipart
html2text = "0.14.0"
bytes = "1.10.0"
pythonize = "0.23.0"
serde_json = "1.0.138"
webpki-root-certs = "0.26.8"
http-body-util = "0.1.2"
http = "1.2.0"
mime = "0.3.17"
url = "2.5.4"

[profile.release]
codegen-units = 1
lto = "fat"
opt-level = 3
panic = "abort"
strip = "symbols"
