[package]
name = "primp"
version = "0.8.0"
edition = "2021"
description = "HTTP client that can impersonate web browsers, mimicking their headers and `TLS/JA3/JA4/HTTP2` fingerprints"
authors = ["deedy5"]


# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html
[lib]
name = "primp"
crate-type = ["cdylib"]

[dependencies]
pyo3 = { version = "0.22", features = ["extension-module", "abi3-py38", "indexmap", "anyhow"] }
anyhow = "1"
log = "0.4"
pyo3-log = "0.11"
rquest = { version = "0.27", features = [ 
    "cookies",
    "multipart",
    "json",
    "socks",
    "gzip",
    "brotli",
    "deflate",
    "zstd",
] }
encoding_rs = { version = "0.8" }
ahash = "0.8"
indexmap = { version = "2", features = ["serde"] }
tokio = { version = "1", features = ["full"] }
html2text = "0.13"
bytes = "1"
pythonize = "0.22"
serde_json = "1"

[profile.release]
codegen-units = 1
lto = "fat"
opt-level = 3
panic = "abort"
strip = "symbols"
