[package]
name = "pyreqwest_impersonate"
version = "0.3.1"
edition = "2021"
description = "HTTP client that can impersonate web browsers, mimicking their headers and `TLS/JA3/JA4/HTTP2` fingerprints"
authors = ["deedy5"]


# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html
[lib]
name = "pyreqwest_impersonate"
crate-type = ["cdylib"]

[dependencies]
pyo3 = { version = "0.21", features = ["extension-module", "abi3-py38"] }
reqwest-impersonate = { version = "0.11", default-features = false, features = [
    "cookies",
    "blocking",
    "boring-tls",
    "impersonate",
    "json",
    "multipart",  # to send a multipart/form-data body
    "socks",
    "gzip",
    "brotli",
    "deflate",
] }
encoding_rs = "0.8"
pythonize = "0.21"
serde_json = "1"

[profile.release]
codegen-units = 1
lto = "fat"
opt-level = 3
panic = "abort"
strip = "symbols"
